body {
  font-family: "Comic Sans MS", sans-serif;
  font-size: x-large;
  background: #53BEB5;
}

h2 {
  text-align: center;
  font-size: xxx-large;
  margin: 0px;
}

.top-image img {
  width: 100%;
  object-fit: cover;
}

.container img {
  width: 20vw;
}

.container {
  background-color: white;
  border-radius: 25px;
  padding: 5%;
  margin: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .box {
  display: flex;
  padding:20px;
}

.box .image {
  width: 100%;
  object-fit: cover;
  margin: 0 20px 0 0;
}

.box:nth-child(even) {
  flex-direction: row-reverse;
}

.box:nth-child(even) .img {
  margin: 0 0 0 20px;
}

.text-box{
  width:calc(100% - 320px);
} */

.second-line {
  text-align: center;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.third-line {
  text-align: center;
  font-size: x-large;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}